.messages-stack {
    width: 20vw;
    min-width: 20rem;
    height: 50vh;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;

    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

.messages-stack::-webkit-scrollbar {
    display: none;
}

.message {
    width: 100%;
    height: 8rem;
    padding: 1rem;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: .5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "info"
                         "description"
                         "interaction";
    gap: .25rem;
    animation: 1s forwards fade-in ease-in-out;
}

.message-info {
    grid-area: info;
    font-size: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
}

.message-interaction {
    grid-area: interaction;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.message-interaction > .buttons {
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
}

.message-description {
    grid-area: description;
    white-space: nowrap;
    overflow: hidden;
}

.message-description > .text {
    display: inline-block;
}

.message-description:hover > .text {
    animation: 8s none sliding-text linear;
}

@keyframes fade-in {
    from {
        display: none;
        opacity: 0;
        transform: translate(0, 2rem);
    }
    to {
        display: block;
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes sliding-text {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }
    to {
        opacity: 0;
        transform: translate(0, 2rem);
    }
}