.microphone {
    width: 30%;
    height: 2.5rem;
    background-color: var(--light-gray);
    border-radius: .25rem;
    box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.05);

    display: grid;
    grid-template-columns: 2.5rem auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "mic-button mic-input"
                         "out-result out-result";
    row-gap: .75rem;
}

.mic-button {
    grid-area: mic-button;
    height: 100%;
    aspect-ratio: 1 / 1;
    color: black;
    background-color: var(--gray);
    border-radius: .25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 250ms;
}

.mic-button.recording {
    color: var(--white);
    background-color: var(--alert);
}

.mic-input {
    grid-area: mic-input;

    height: 100%;
    padding-inline: .5rem;
    border-radius: .25rem;
    font-size: 1.25rem;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mic-out-result {
    grid-area: out-result;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;

    position: relative;
}

.mic-out-result::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    top: 60%;
    left: 0;
    color: transparent;
    text-align: center;
    transform: rotateX(140deg);
    text-shadow: 0 0 4px rgb(0, 0, 0);
    -webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(20%, transparent), to(rgba(0, 0, 0, 0.4)));
}

