.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 1rem;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > .logo {
  font-size: 2rem;
  font-weight: 600;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
}

.controller {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-content: center;
  place-items: center;
}

.controller-btn {
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  border-radius: .625rem;
  background-color: white;
  color: black;
  border: 2px solid black;
  box-shadow: 4px 4px black;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms;
}

.controller-btn.btn-sm {
  height: 3.5rem;
  width: 3.5rem;
}

.controller-btn:hover {
  background-color: rgb(206, 206, 206);
}

.controller-btn:active {
  background-color: rgb(104, 255, 117);
  transform: translateX(4px) translateY(4px);
  box-shadow: 0 0 transparent;
}

.blank {
  background-color: transparent;
  color: transparent;
}