.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas: "navbar"
                       "main";
  place-content: stretch;
  place-items: stretch;
}

.navbar {
  grid-area: navbar;
  padding: 1rem;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 2px solid black;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > .logo {
  font-size: 2rem;
  font-weight: 600;
}

.info {
  padding: 1rem;
  justify-self: center;
  text-align: center;
  border-radius: .25rem;
}

.info.green {
  background-color: rgb(179, 255, 185);
  color: rgb(0, 165, 14);
}

.info.red {
  background-color: rgb(255, 179, 179);
  color: rgb(165, 0, 0);
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  align-items: center;
  gap: 2rem;
}

.main-interaction {
  padding: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.title {
  padding-block: .375rem;
  padding-inline: 1rem;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: .5rem;
}

/* .slider {
  transform: rotate(270deg);
} */

.controller-block {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: 2rem;
}

.controller {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-content: center;
  place-items: center;
}

.controller-btn {
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  border-radius: .625rem;
  background-color: white;
  color: black;
  border: 2px solid black;
  box-shadow: 4px 4px black;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms;
}

.controller-btn.btn-sm {
  height: 3.5rem;
  width: 3.5rem;
}

.controller-btn:hover {
  background-color: rgb(206, 206, 206);
}

.controller-btn:active {
  background-color: rgb(104, 255, 117);
  transform: translateX(4px) translateY(4px);
  box-shadow: 0 0 transparent;
}

.blank {
  background-color: transparent;
  color: transparent;
}